<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

<title>Todo List App</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<form class="form-horizontal" th:action="@{/logout}" method="post">
			<div class="form-group">
				<div class="col-sm-10">
					<h2>Todo Details</h2>
				</div>
				<div class="col-sm-2" style="padding-top: 25px;">
					<span sec:authorize="isAuthenticated()"> <input
						type="submit" value="Sign Out" />
					</span>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Todo Id:</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${todoItem.itemId}">Item
						Id</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">ToDO:</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${todoItem.todo}">Todo</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Done:</label>
				<div class="col-sm-10">
					<!-- <p class="form-control-static" th:text="${todoItem.done}">Done</p> -->
					<select th:field="${todoItem.done}">
						<option th:value="true" th:text="Done"></option>
						<option th:value="false" th:text="Pending"></option>
							
					</select>

				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">User Id:</label>
				<div class="col-sm-10">
					<p class="form-control-static" th:text="${todoItem.userId}">UserId</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Created On:</label>

				<div class="col-sm-10">
					<!-- <input type="datetime-local" th:field="${todoItem.createdOn}" /> -->
					
					<p th:text="${#dates.format(todoItem.createdOn, 'dd-MMM-yyyy')}"></p>
					
				</div>
			</div>
		</form>

	</div>

</body>
</html>